<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.newsPortal.dao.ILocationDAO">
    <insert id="createItem" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[INSERT INTO `newsPortal`.`Location` (`name`) VALUES (${name});]]>
    </insert>

    <update id="updateItem">
        <![CDATA[UPDATE `newsPortal`.`Location` SET `name` = ${name} WHERE (`id` = ${id});]]>
    </update>

    <delete id="deleteById">
        <![CDATA[DELETE FROM `newsPortal`.`Location` WHERE (`id` = ${id});]]>
    </delete>

    <select id="getItemById" resultMap="locationResultMap">
        <![CDATA[SELECT * FROM newsPortal.Location WHERE id = ${id};]]>
    </select>

    <resultMap type="com.solvd.newsPortal.models.article.Location" id="locationResultMap" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>